# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production builds
dist/
build/
.aws-sam/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Editor & OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
